hr {
    margin: 0
}

.rodape {
    background: var(--branco);
    color: black;
    font-weight: 400;
    padding: 1rem;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 0.875rem;
        color: var(--cinza-claro);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6rem 0;
    }

    .lista-rodape__link {
        color: var(--cinza);
        margin-left: 0.6rem;
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1rem;
    }

    .rodape {
        padding: 3rem 0;
    }
}